.site-header,.site-footer{
    background-color: $color_primary;
}
.site-header{
    a,a:visited,a:hover{
        color:$color_header_links;
    }
}

.site-title,.site-description{
    color:$color_header_links;
    a {
        color:$color_header_links;
    }
}


.main-navigation {
    ul,li{
        background-color: $color_primary;
    }

    ul a, li a {
        color: $color_header_links;
    }

    a:active,a:hover, a:focus{
        color: $color_links_hover;
    }
    li li:hover>a, li li:hover{
        color:$color_header_links;
        background-color: $color_links_hover ;
    }
    li li {
        border-bottom: 1px solid #fff;
    }
}

.site-main,.widget {
    a, a:visited{
        color:$color_links;
    }
    a:hover{
        color:$color_links_hover;
    }
}
h1,h2,h3,h4,h5,h6{
    color: $color_headings;
}
p{
    color:$color_text;
}
.entry-meta span{
    background-color: #f4f6f8;
    color: #616571;

    a{
        color:#616571;
        unicode-bidi: normal;
        
    }
    a:hover{
        color:$color_links_hover;
    }
}

.entry-footer{
    border-bottom:0.2rem solid $color_border;
    span{
        border-top:0.2rem solid $color_border;
    }
}