.social-icons{
    display:block;
}
.social-icons-wraper{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    font:0.7*$font_size;
    a{
        padding:0.5rem;
        margin:0.5rem;
        color:#fff !important;
        &:hover{
            color:#fff;
        }
    }
}
.facebook{
    background:#3b5998;
}
.twitter{
    background:#1da1f2;
}
.linkedin{
    background:#007bb5;
}
.instagram{
    background:#f46f30;
}